<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 well">
                <a class="btn btn-primary" href="{{ path('add_new_employee') }}"><i class="fa fa-fw -square -circle fa-plus-square"></i> Add new employee</a>
                <a class="btn btn-primary" href="{{ path('add_new_position') }}"><i class="fa fa-fw -square -circle fa-plus-square"></i> Add new position</a>
            </div>
        </div>

    </div>
</div>