{% extends 'admin_base.html.twig' %}

{{ form_start(form) }}
{{ form_widget(form) }}
<div class="form-group">
    <div class="col-sm-9 col-sm-offset-2">
        <input type="submit" value="Submit" class="btn btn-primary btn-block"/>
    </div>
</div>
{{ form_end(form) }}